body {
  margin: 0;
  background: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

button{
  height: 100%;
  width: 20%;
}
button:hover,
button:active{
  border-top:1px solid #777;
  border-left:1px solid #999;
  border-bottom:1px solid #999;
}
.Red{
  background: red;
}
.Red:hover,
.Red:active{
  box-shadow:2px 0 3px rgb(98, 3, 3) inset,-5px 5px 20px rgb(98, 3, 3) inset,0 0 3px rgb(98, 3, 3);
  background:linear-gradient(to bottom,red 0%,rgb(117, 24, 24) 100%);
}
.Orange{
  background: orange;
}
.Orange:hover,
.Orange:active{
  box-shadow:2px 0 3px rgb(102, 67, 1) inset,-5px 5px 20px rgb(102, 67, 1) inset,0 0 3px rgb(102, 67, 1);
  background:linear-gradient(to bottom,orange 0%,rgb(134, 87, 0) 100%);
}
.Yellow{
  background: yellow;
}
.Yellow:hover,
.Yellow:active{
  box-shadow:2px 0 3px rgb(119, 119, 0) inset,-5px 5px 20px rgb(119, 119, 0) inset,0 0 3px rgb(119, 119, 0);
  background:linear-gradient(to bottom,yellow 0%,rgb(119, 119, 0) 100%);
}
.Green{
  background: green;
}
.Green:hover,
.Green:active{
  box-shadow:2px 0 3px rgb(0, 56, 0) inset,-5px 5px 20px rgb(0, 56, 0) inset,0 0 3px rgb(0, 56, 0);
  background:linear-gradient(to bottom,green 0%,rgb(0, 56, 0) 100%);
}
.Blue{
  background: blue;
}
.Blue:hover,
.Blue:active{
  box-shadow:2px 0 3px rgb(1, 1, 93) inset,-5px 5px 20px rgb(1, 1, 93) inset,0 0 3px rgb(1, 1, 93);
  background:linear-gradient(to bottom,blue 0%,rgb(1, 1, 93) 100%);
}

.Active{
  box-shadow:2px 0 3px rgb(102, 67, 1) inset,-5px 5px 20px rgb(102, 67, 1) inset,0 0 3px rgb(102, 67, 1);
  background:linear-gradient(to bottom,orange 0%,rgb(134, 87, 0) 100%);
}